// Colors
$dark: #0e0e0e; 
$gray: #D7D9CE; 
$lightGray: #D9D9D9; 
$orange: #FFA552; 
$brown: #B45624; 
$blueGreen: #84A98C; 
$green: #00692A; 
$lightGreen: #84A98C; 
$white: #FFFFFF;
$red: #de1f0e;

//Size media
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
