@use "../base/mixins" as m;
@use "../base/variables" as v;

.art {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;

  @include m.desktop {
    height: 94vh;
  }

  &__images {
    width: 100%;
    padding-top: 3%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    margin: auto;
    min-height: calc(v.$telefono + 10rem);

    @include m.tablet {
      width: 80%;
    }

    @include m.desktop {
      margin-top: 0;
      flex: 1.2;
      padding-left: 10%;
      padding-right: 10%;
    }

    &__space {
      width: 100%;
      position: relative;
      overflow: hidden;

      #prevButton {
        left: 0;
        padding-left: 0.25rem;
        border-radius: 0 2rem 2rem 0;
      }

      #nextButton {
        right: 0;
        padding-left: 0.75rem;
        border-radius: 2rem 0 0 2rem;
      }

      &__slide {
        position: absolute;
        background-color: v.$blueGreen;
        border: none;
        width: 4rem;
        height: 4rem;
        font-size: large;
        color: v.$white;
        cursor: pointer;
        opacity: 0.7;
        top: 40%;

        &:hover {
          transition: all 0.4s ease;
          opacity: 1;
        }
      }

      &__content {
        min-height: calc(v.$telefono + 10rem);
        height: calc(100vh - 2rem);
        width: 100%;
        display: flex;
        overflow: scroll;
        scroll-behavior: smooth;
        list-style: none;
        margin: 0;
        padding: 0;

        &__element {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
          }
        }
      }
    }

    &__link {
      background-color: v.$dark;
      color: v.$white;
      width: 30%;
      padding: 1vw;
      position: absolute;
      bottom: 3%;

      &:hover {
        transition: all 0.4s ease-in-out;
        background-color: v.$blueGreen;
      }
    }
  }

  &__descriptions {
    min-height: calc(v.$telefono + 10rem);
    margin-top: 10pt;
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: v.$dark;
    position: relative;

    @include m.desktop {
      margin-top: 0;
      flex: 1;
    }

    &__center {
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &__text {
        &__dark {
          color: v.$white;
          font-size: 30pt;
        }

        &__green {
          font-weight: 100;
          color: v.$blueGreen;
        }

        &__price {
          font-weight: 100;
          color: v.$white;
        }
      }

      &__structure {
        #container {
          display: flex;
          flex-direction: column;
          margin-top: 5%;
          margin-bottom: 5%;

          #navigation {
            margin: 0;

            .active {
              color: v.$blueGreen;
              border-bottom: 4px solid v.$blueGreen;
            }

            button {
              background-color: transparent;
              font-size: 14pt;
              color: #aaa;
              padding-right: 2%;
              border: none;
              color: v.$white;
              text-decoration: none;
              display: inline-block;
              cursor: pointer;
            }

            button:not(.active):hover {
              transition: all 0.2s ease-out;
              color: v.$orange;
              border-bottom: 4px solid v.$orange;
            }
          }

          #carousel {
            margin-top: 12pt;
            overflow: hidden;
            width: 100%;
            height: 100%;

            .change {
              width: 100%;
              height: 140pt;

              p {
                font-size: 12pt;
                color: v.$white;
              }
            }
          }
        }
      }

      &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;

        &__comprar {
          background-color: v.$blueGreen;
          color: v.$white;
          border: none;
          padding: 10px 20px;
          cursor: pointer;
          margin: 2%;
          flex: 1;
          transition: all 0.4s ease;

          &:hover {
            background-color: v.$white;
            color: v.$blueGreen;
          }
        }

        &__agregar {
          background-color: transparent;
          border: 2px solid v.$blueGreen;
          color: v.$blueGreen;
          padding: 10px 20px;
          cursor: pointer;
          flex: 1;
          margin: 2%;
          transition: all 0.4s ease;

          &:hover {
            background-color: v.$white;
            color: v.$blueGreen;
          }
        }
      }
    }
  }
}

.art__images__space__content__element {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}
