@use '../base/mixins' as m;
@use '../base/variables' as v;
@use '../components/gallery';
@use '../components/navigationBar';
@use '../components/searchBar';

.catalog {
  &__add-button {
    position: fixed;
    padding: 1rem 2rem;
    display: inline-block;
    text-align: center;
    color: v.$white;
    background-color: v.$brown;
    font-weight: 500;
    border-radius: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    z-index: 10;
    bottom: 5rem;
    right: 3rem;
    font-size: 1.8rem;
    transition: background-color 0.3s;
    
    @include m.tablet {
      bottom: 5rem;
      right: 5rem;
      padding: 1rem 5rem;
    }

    &:hover {
      background-color: lighten(v.$brown, 10);
    }
  }
}