@use '../base/mixins' as m;
@use '../base/variables' as v;
@use '../components/gallery';
@use '../components/searchBar';
@use '../components/personalBlocks';
@use '../plugins/swipper';

.profile {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5rem;

    width: 100%;
    height: 32.5rem;
    position: relative;
    background: rgba(v.$gray,0.5);

    .image-profile {
        &:hover {
            background-color: lighten(v.$lightGray, 5);
        }

        &__symbol {
            font-size: 5rem;
        }
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.9);
    }

    &-data {
        margin-top: 10rem;
    }

    &__picture {
        position: absolute;
        bottom: -8rem;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        width: 22.5rem;
        height: 22.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__job {
        text-align: center;
        font-size: 2.6rem;
        line-height: 0;
        margin-top: 1.5rem;
    }

    &__name {
        font-size: 3.6rem;
        margin: 2rem 0 0;
        text-align: center;
        color: v.$brown;
    }

    &__info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        height: 7rem;
        width: 25rem;
        margin: 0 auto;

        background-color: lighten(v.$lightGray, 10);
        border-radius: 2rem;
    }

    &__info-text {
        font-size: 1.2rem;
        text-align: center;

        @include m.tablet {
            font-size: 1.4rem;
        }

        &--bolder {
            font-size: 1.8rem;
            font-weight: 900;
        }
    }
}


.about {
    margin: 3rem auto;

    p {
        font-size: 2rem;
        text-align: center;
    }
}

.catalog {
    &__title {
        margin: 5rem 0 3rem 0;
        font-size: 3.6rem;
        color: v.$brown;
    }
}