@use "../base/variables" as v;
@use "../base/mixins" as m;

.form {
    width: 75%;

    &__field {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }

    &__label {
        margin-left: 0.5rem;
        font-size: 1.6rem;
        display: block;
        margin-bottom: 0.7rem;
        color: v.$white;
    }

    &__input {
        display: block;
        width: 100%;
        border-radius: 1rem;
        padding: 1.3rem 2rem;
        font-size: 1.6rem;
        background-color: lighten(v.$dark, 8);
        color: v.$white;
    }

    &__link-container {
        margin-top: 1rem;
    }

    &__link {
        line-height: 0;
        font-size: 1.6rem;
        color: darken(v.$gray, 20);
        transition: color 0.3s;

        &:hover {
            color: v.$white;
        }
    }

    &__submit {
        display: block;
        text-align: center;
        width: 20rem;
        height: 5rem;
        margin: 3rem auto 0 auto;

        background-color: v.$brown;
        border-radius: 1rem;
        
        text-transform: uppercase;
        font-size: 1.8rem;
        letter-spacing: 2px;
        color: v.$white;

        &:hover {
            cursor: pointer;
            background-color: lighten(v.$brown, 10);
        }
    }



}