@use "../base/variables" as v;
@use "../base/mixins" as m;

.form {
    color: darken(v.$gray, 10); 
    width: 85%;
    @include m.telefono {
        width: 80%;
    }

    &__field {
        position: relative; 
        width: 100%;
        height: 5.5rem;
        margin: 0 auto;
        margin-bottom: 2rem;

        &--fields {
            @include m.tablet {
                @include m.grid(2, 1.5rem); 
            }
        }
    }

    &__label {
        position: absolute;
        top: 0.5rem;
        right: 1.5rem;
        font-size: 1.4rem;
        display: block;
        margin-bottom: 1rem;
    }

    &__input {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        padding: 0 2rem;
        font-size: 1.6rem;
        background-color: lighten(v.$dark, 8); 
        transition: border-right 0.1s, color 0.2s;
        color: v.$white;

        &:focus-visible {
            border-right: solid v.$brown 0.4rem ;
            color: v.$white
        }
    }

    &__enlace {
        display: block;
        text-align: right;
        line-height: 0;

        font-size: 1.6rem;
        color: darken(v.$gray, 20);
        transition: color 0.3s;

        &:hover{
            color: v.$white;
        }
    }

    &__enlace-nav {
        display: block;
        font-size: 1.6;
        text-align: center;
        color: darken(v.$gray, 10);
        transition: color 0.3s;

        &:hover{
            color: v.$white;
        }

        @include m.tablet {
            display: none;
        }
    }

    &__submit {
        display: block;
        width: 100%;
        margin: 4rem 0 2rem 0;
        padding: 1.5rem;
        border-radius: 1.2rem;
        background-color: v.$brown;
        color: v.$white;
        font-size: 2rem;
        text-transform: uppercase;
        transition: background-color 0.3s;

        &:hover {
            cursor: pointer;
            background-color: lighten(v.$brown, 10); 
        }
    }



}