@use "../base/variables" as v;
@use "../base/mixins" as m;

.form {
    color: darken(v.$gray, 10); 
    width: 80%;

    &__field {
        position: relative; 
        height: 6.5rem;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    &__label {
        position: absolute;
        top: 0.5rem;
        right: 1.5rem;
        font-size: 1.4rem;
        display: block;
        margin-bottom: 1rem;
        transition: color 0.3s;
    }

    &__input {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        padding: 0 2rem;
        font-size: 1.6rem;
        background-color: lighten(v.$dark, 8); 
        color: darken(v.$gray, 20); 
        transition: border-right 0.1s, color 0.2s;

        &:focus-visible {
            border-right: solid v.$brown 0.4rem ;
            color: v.$white
        }

        &:focus-visible ~ .form__label {
            color: v.$white;
        }
    }

    &__enlace {
        display: block;
        text-align: right;
        color: darken(v.$orange, 10);
        transition: color 0.3s; 
        &:hover {
            color: v.$orange; 
        }
    }

    &__submit {
        display: block;
        width: 100%;
        margin: 5rem 0;
        padding: 1.5rem;
        border-radius: 1.2rem;
        background-color: v.$brown;
        color: v.$white;
        font-size: 2rem;
        text-transform: uppercase;
        transition: background-color 0.3s;

        &:hover {
            cursor: pointer;
            background-color: lighten(v.$brown, 10); 
        }
    }



}