@use '../base/mixins' as m;
@use '../base/variables' as v;

.gallery {
    max-width: 127rem;
    height: 100%;
    margin: 3rem 8%;
    columns: 3 15rem;
    gap: 5%;
    
    &__element {
        margin-top: 3rem;
        display: inline-block;
    }


    &__image {
        transition: filter 0.2s;
    }

    &__autor {
        position: absolute;
        bottom: 2rem;
        left: -15rem;
        opacity: 0;
        padding: 0.2rem 2rem;
        border-radius: 2rem;
        background-color: v.$blueGreen;
        transition: left 0.3s, opacity 0.5s;
        max-width: 75%;

        p {
            font-weight: bold;
            color: v.$white;
            font-size: 1.2rem;
            @include m.clip-text(1);

            @include m.telefono {
                font-size: 1.4rem;
            }
        }

    }

    &__imageContainer {
        display: block;
        width: 100%;
        max-height: 55rem;
        position: relative;
        overflow: hidden;
        border-radius: 1.5rem;
        &:hover .gallery__image {
            filter: brightness(0.7);
        }

        &:hover .gallery__autor {
            left: 2rem;
            opacity: 1;
        }
    }


    &__info {
        margin-top: 1rem;
    }

    &__description {
        width: 75%;
        font-size: 1.4rem;
        @include m.clip-text(2);

        span {
            font-weight: bold;
        }
    }

    &__available {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: v.$green;
        font-weight: bold;
        float: right;
        margin: 1.5rem 1rem 0 0;
    }
}