@use '../base/mixins' as m;
@use '../base/variables' as v;

.gallery {
    width: 95%;
    max-width: 127rem;
    height: 100%;
    margin: 3rem auto;
    columns: 4 15rem;
    gap: 1rem;

    @include m.telefono {
        gap: 1.5rem;
    }

    @include m.tablet {
        gap: 2rem;
    }

    &__element {
        display: inline-block;
    }


    &__image {
        border-radius: 1.5rem;
        transition: filter 0.2s;
    }

    &__autor {
        position: absolute;
        bottom: 1.5rem;
        left: -15rem;
        opacity: 0;
        padding: 1rem 2rem;
        border-radius: 2rem;
        background-color: v.$blueGreen;
        transition: left 0.3s, opacity 0.5s;
        max-width: 75%;

        p {
            font-weight: bold;
            color: v.$white;
            font-size: 1.2rem;
            @include m.clip-text(1);

            @include m.telefono {
                font-size: 1.4rem;
            }
        }

    }

    &__imageContainer {
        display: block;
        width: 100%;
        position: relative;
        overflow: hidden;

        &:hover .gallery__image {
            filter: brightness(0.6);
        }

        &:hover .gallery__autor {
            left: 1rem;
            opacity: 1;
        }
    }


    &__info {
        margin-top: 2rem;
    }

    &__description {
        font-size: 1.6rem;
        @include m.clip-text(2);

        span {
            font-weight: bold;
        }
    }

    &__available {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: v.$green;
        font-weight: bold;
        float: right;
        margin: 1.5rem 1rem 2rem 0;
    }
}