.navbar {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem;
    color: #fff;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        padding: 0.625rem;
    }

    .navbar-left, .navbar-center, .navbar-right {
        display: flex;
        align-items: center;
    }

    .navbar-left {
        a {
            text-decoration: none;
            color: #fff;
            margin-right: 1.25rem;

            @media (max-width: 768px) {
                margin-right: 0;
                margin-bottom: 0.625rem;
            }
        }
    }

    .navbar-center {
        a {
            font-family: 'Lostar', sans-serif;
            text-decoration: none;
            color: white;
            margin: 2rem;
        }
    }

    .navbar-right {
        display: flex;
        align-items: center;
        margin-left: 1.25rem;
        text-decoration: none;
        color: white;

        .perfil {
            display: flex;
            align-items: center;

            img {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                margin-right: 0.625rem;
            }

            @media (max-width: 768px) {
                margin: 0.625rem;
            }
        }

        .carrito {
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                color: white;
                margin-right: 1.25rem;

                @media (max-width: 768px) {
                    margin-left: 1.25rem;
                    margin-bottom: 0.625rem;
                }
            }
        }

        .navbar__profile-options .navbar__link {
            text-decoration: none; 
            color: white; 
        }        

        .navbar__profile-options li a:hover {
            color: gray;
        }

        .perfil img:hover {
            border: .3rem solid rgb(180, 86, 36);
        }

        .carrito img:hover {
            content: url('/assets/images/carrito_hover.png');
        }
    }
}
