@use "../base/variables" as v;
@use "../base/mixins" as m;

//variables
.search {
  position: relative;
  display: inline-block;
  width: 50%;
  left: 25%;
  margin-bottom: 2rem;
}

.search__input {
  padding-left: 4.0rem; /* Espacio suficiente para el ícono de búsqueda */
  width: 100%; /* El input se ajustará al 100% del ancho del contenedor */
  height: 4rem;
  box-sizing: border-box;
  border: 1px solid v.$brown;
  box-shadow: 0px 4px 4px rgba(v.$brown, 0.75);

  border-radius: 3rem; /* Estiliza los bordes del input según tus preferencias */
  font-size: 16px; /* Tamaño de fuente del input */
  line-height: 1.5; /* Espacio entre líneas del input */
  
}
.search__button {
  position: absolute;
  top: 50%;
  left: 0.4rem; /* Ajusta la posición del botón de búsqueda según tus preferencias */
  transform: translateY(-50%); /* Centra verticalmente el botón de búsqueda */
  cursor: pointer;
}
.search__imagen {
  width: 3.0rem; /* Tamaño del ícono de búsqueda */
  height: 3.0rem; /* Tamaño del ícono de búsqueda */
}
.select {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
select {
  margin: 0.5rem;
  border: 1px solid v.$brown;
  border-radius: 1.5rem;
  appearance: none; /* Remove default select styles on some browsers */
  cursor: pointer;
  width: 100%; /* Make the select elements 100% width */
  max-width: 10rem; /* Set a maximum width if needed */
  padding: 0.5rem; /* Adjust padding as needed */
}
select:hover, select:focus {
  box-shadow: 0px 4px 4px rgba(v.$brown, 0.75);
}
select::-ms-expand {
  display: none;
}
select:after {
  content: '\25BC'; /* Downward-pointing arrow */
  position: absolute;
  top: 50%;
  right: 1.0rem;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent click on the arrow */
}
option {
  /* Background color for options */
  color: #fa7900; /* Text color for options */
  padding: 1.0rem;
}
.custom__select {
  position: relative;
  margin: 0.5rem;
  width: 100%;
  max-width: 10rem;
  display: inline-block;
  vertical-align: top;
}
.select__icon {
  position: absolute;
  top: 50%;
  right: 0.6rem;
  transform: translateY(-50%);
  pointer-events: none;
}

.select__icon img {
  width: 1.5rem; /* Ajusta el tamaño de la imagen según tus preferencias */
  height: 1.5rem;
}
@media screen and (max-width: 768px) {
  .search {
    width: 100%; /* Ajustar al 100% del ancho del contenedor en pantallas pequeñas */
    left: 0%;
    position: relative;
  }
}




